.menu {
  width: 800px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

.letzteZeile ul li button {
  padding: 2px 15px;
}

li button {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  border: none;

  background-color: white; /* Green */
  font-size: 16px;
}

.btn-active {
  background-color: rgb(96, 182, 252);
}

.btn-disabled {
  color: #808080;
}

li select {
  border: none;
  display: block;
  text-align: center;
  padding: 14px 10px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(173, 218, 255);
}

li button:hover {
  background-color: rgb(173, 218, 255);
}

.btn-disabled:hover {
  background-color: white;
}

li select:hover {
  background-color: rgb(173, 218, 255);
}

.paddingright {
  padding-right: 40px;
}

.hidden {
  display: none;
}

.info2017 {
  color: grey;
}

.diffpos {
  color: #008000;
}

.diffneg {
  color: #ff0000;
}

td {
  white-space: nowrap;
}

h2 {
  padding: 0;
  margin: 5px 0px;
}

#map {
  background-color: white;
}
