.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

.letzteZeile ul li button {
  padding: 2px 15px;
}

.menu li button {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 8px;
  text-decoration: none;
  border: none;

  background-color: white; /* Green */
  font-size: 14px;
}

.btn-active {
  background-color: rgb(96, 182, 252);
}

.btn-disabled {
  color: #808080;
}

.menu li select {
  border: none;
  display: block;
  text-align: center;
  padding: 10px 8px;
}

/* Change the link color to #111 (black) on hover */
.menu li a:hover {
  background-color: rgb(173, 218, 255);
}

.menu li button:hover {
  background-color: rgb(173, 218, 255);
}

.btn-disabled:hover {
  background-color: white;
}

.menu li select:hover {
  background-color: rgb(173, 218, 255);
}

.paddingright {
  padding-right: 30px;
}

.hidden {
  display: none;
}

.info2017 {
  color: grey;
}

.diffpos {
  color: #008000;
}

.diffneg {
  color: #ff0000;
}

td {
  white-space: nowrap;
}

h2 {
  padding: 0;
  margin: 5px 0px;
}

#map {
  background-color: white;
}

table {
  font-size: 12px;
}

h2 {
  font-size: 16px;
}

@media screen and (max-width: 700px) {
  #map {
    width: 100vw;
    height: 100vw;
  }
  .menu {
    width: 100vw;
  }
  .modal-content {
    margin: 10vw 8vw;
    font-size: 12px;
    width: 80vw;
    padding: 10px;
  }
  .cluster-table table th {
    min-width: 40px;
    max-width: calc(100vw / 9);
    overflow: hidden;
    word-wrap: break-word;
  }

  body {
    margin: 0px 0px;
  }
}

@media screen and (min-width: 700px) {
  #map {
    width: 700px;
    height: 700px;
  }
  .menu {
    width: 700px;
  }

  .modal-content {
    margin: 150px 38px;
    font-size: 16px;
    width: 600px;
    padding: 20px;
  }
  .cluster-table table th {
    min-width: 60px;
  }

  body {
    margin: 8px 8px;
  }
}

.bottom-line {
  display: none;
}

.cluster-table {
  margin-top: 15px;
  font-family: sans-serif;
}

.cluster-table table td {
  text-align: center;
}

.map-input-div {
  z-index: 4000;
  margin: 10px;
  padding: 5px;
  border: 2px solid rgb(161, 161, 161);
  background-color: white;
  font-weight: bold;
}
.map-input-div span {
  margin-right: 5px;
}
.clustercount {
  width: 45px;
  pointer-events: auto;
}

.vergleich-2017 {
  display: none;
}

.map-info-div {
  z-index: 4000;
  margin: 10px;
  padding: 0;
  border: 2px solid rgb(161, 161, 161);
  background-color: white;
  font-weight: bold;
  box-sizing: border-box;

  border-radius: 50%;
}

.info-button {
  box-sizing: border-box;
  width: 40px;
  height: 40px;

  pointer-events: auto;
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;

  border-radius: 50%;
}
.info-button:hover {
  background-color: #e0e0e0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  font-family: sans-serif;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
